<div class="container">
    <div class="row">
        <form [formGroup]="createUserForm"  (ngSubmit)="createUser()" >
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input   type="firstName" class="form-control" id="firstName" name="firstName"  formControlName="firstName">
                    <div  
                        class="custom-alert">FirstName Required
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input   type="lastName" class="form-control" id="lastName" name="lastName"  formControlName="lastName">
                    <div 
                        class="custom-alert">LastName Required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="email" class="form-label">Email address</label>
                    <input   type="email" class="form-control" id="email" name="email" formControlName="email" required>
                    <!-- <div 
                        class="custom-alert">Email Required
                    </div> -->
                    <div *ngIf="email!.errors?.['alreadyExists']" class="alert alert-danger">
                        {{validationErrorMessages.email.alreadyExists}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="password"  class="form-label">Password</label>
                    <input  type="password" class="form-control" id="password" name="password" required formControlName="password">
                    <div 
                        class="custom-alert">Password Required
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="confirmPassword"  class="form-label">Confirm Password</label>
                    <input  type="password" class="form-control" id="confirmPassword" name="confirmPassword" required formControlName="confirmPassword">
                    <div 
                        class="custom-alert">Password Required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary" 
                        >Create User
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
