<div class="container">
    <div class="row">
        <form #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm)" >
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input  ngModel type="firstName" class="form-control" id="firstName" name="firstName" #firstName="ngModel" required>
                    <div *ngIf="firstName.errors?.['required'] && firstName.touched && firstName.invalid" 
                        class="custom-alert">FirstName Required
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input  ngModel type="lastName" class="form-control" id="lastName" name="lastName" #lastName="ngModel" required>
                    <div *ngIf="lastName.errors?.['required'] && lastName.touched && lastName.invalid" 
                        class="custom-alert">LastName Required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label for="email" class="form-label">Email address</label>
                    <input  ngModel type="email" class="form-control" id="email" name="email" #email="ngModel" required>
                    <div *ngIf="email.errors?.['required'] && email.touched && email.invalid" 
                        class="custom-alert">Email Required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="password"  class="form-label">Password</label>
                    <input ngModel type="password" class="form-control" id="password" name="password" required #password="ngModel">
                    <div *ngIf="password.errors?.['required'] && password.touched  && password.invalid" 
                        class="custom-alert">Password Required
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="confirmPassword"  class="form-label">Confirm Password</label>
                    <input ngModel type="password" class="form-control" id="confirmPassword" name="confirmPassword" required #confirmPassword="ngModel">
                    <div *ngIf="confirmPassword.errors?.['required'] && confirmPassword.touched  && confirmPassword.invalid" 
                        class="custom-alert">Password Required
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <button type="submit" class="btn btn-primary" 
                        [disabled]="createUserForm.form.touched && createUserForm.form.invalid">Create User
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
